* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body {
    font-size: 12px;
    font-family: 'Playfair Display', roboto;
    background-color: #ebebeb;    
}

/*-------------------- HEADER --------------------------*/
#header {
    background-color: #EAC926;
}
#header .top {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
/*-----------------LOGO-------------------*/
.logo {
    width: 50%;
    padding: 3%;
}
.logo img {  
    width: fit-content;
}

/*--------------BARRA DE BUSQUEDA-------------*/
.barraDeBusqueda {
    width: 50%;
}
.buscar {
    padding: 0 5%;
    display: flex;
}
.buscar input {
    width: 90%;
    padding: 5% 5px;
    border: none;
    border-radius: 3px 0 0 3px;
    font-weight: 700;
}
.buscar button {
    width: 10%;
    padding: 1px;
    background-color: #FFF;
    border-radius: 0px 3px 3px 0;
    border: none;
}
.barraDeBusqueda .icono {
    color:#666666;


}

/*---------------TEXTO---------------*/
.textoHeader {
    text-align: center;
    width: 100%;
}

/*--------------NAVEGADOR---------------*/
.navegacion {
    display: none;
}
.navegacion ul {
    list-style: none;
}
.navegacion a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
}

/*-----------------MENU BURGER-----------------*/
.burger-menu i{
    color: white;
    background-color: #1259c3;
    padding: 10px 15px;
    border-radius: 15%;
    font-size: 25px;
    margin: 15px 57% 10px 43%;
}

/*--------------------------MAIN---------------------------*/
main {
    background-color: #ebebeb;
    text-align:left;
    padding-bottom:10px;
    color: #666; 
    width: 90%;
    margin: auto;
}
#main .section {
    margin-bottom: 10px;
}
#main article {
    margin-top: 10px;
}
#main article:hover  h5{
    display: block;
}
#main article:hover i {
    transform: rotate(-90deg);
}
#main article:hover .img {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
#main article:hover .descripcion{    
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/*---------------------BANNER---------------------------*/
.bannerMain {
    width: 100%;
}
.bannerMain img {
    width: 100%; 
    max-height: 100%;
}

/*------------------IMAGENES----------------------*/
.img {
    width: auto;
    margin: 0px 20px;
    display: flex;
}
.img img{
    width: 100%;
    height: 100%;
}

/*------------DESCRIPCION----------------*/
.descripcion {
    background-color: white;
    margin: 0px 20px;
    padding: 15px;
    border-top: solid 1px #ebebeb;
}
.contenedor-icono {
    display: flex;
    width: 15%;
    position: relative;
    flex-direction: row-reverse;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    top: -1.8pc;
    right: -87%;
}
.descripcion i {
    color: #39b54a;
    display: block;
    margin: auto;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    transition: all 450ms;
}
.contenedor-texto {
    margin-top: -10%;
}
.contenedor-p {
    display: flex;
    align-items: center;
}
.precio {
    flex-grow: 0.3;
    font-size: 18px;
    padding: 0;
    margin: 0%;
}
.off {
    flex-grow: 0.7;
    color: #39b54a;
    font-size: 16px;
    padding: 0;
    margin-left: 15px;
}
.descripcion h5 {
    display: none;
    font-size: 16px; 
    font-weight: lighter;
    padding-top: 15px;    
}


/*------------------TITULARES---------------------*/
.section h3 {
    font-size: 24px;
    padding: 3% 0;
}

/*------------------FOOTER---------------*/
footer {
    color: #666;
    background-color: white;

}
#footer .icono i {
    color: #1259c3;
    margin: 40px 20px 10px 20px;
    font-size: 2em;
}
#footer .icono i:hover {
    color: #001f51;
}
#footer section {
    text-align: center;
    margin: auto;
}
#footer h4 {
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: large;
}
#footer p {
    margin-top: 0px;
}
#divFooter {
    padding-top: 10px;
}
#divFooter p {
    margin-bottom: 0%;
}

/*-------------MEDIA----------*/

@media (min-width: 361px) {

/*-------------------- HEADER --------------------------*/

/*-----------------LOGO-------------------*/
.logo {
    width: 30%;
}
.logo img {
    min-width: fit-content;
}
/*--------------BARRA DE BUSQUEDA-------------*/
.barraDeBusqueda {
    width: 35%;
    margin: auto;
}
/*---------------TEXTO---------------*/
.textoHeader{
    width: 35%;
    text-align: center;
}
/*--------------NAVEGADOR---------------*/
.navegacion {
    display: flex;
    justify-content: space-between;
}
.navegacion ul {
    display: flex;
    justify-content: space-between;
}
.navegacion li {
    margin: 0 5px;
    font-display:inherit;
}

/*-----------------MENU BURGER-----------------*/
.burger-menu{
    display: none;
}

/*--------------------------MAIN---------------------------*/
.section {
    display: flex;
    flex-wrap: wrap;
}
.section article {
    width: 50%;
}

/*---------------------BANNER---------------------------*/
/*------------------IMAGENES----------------------*/
#main .img {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/*------------DESCRIPCION----------------*/
#main .descripcion {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.contenedor-texto h5 {
    display: block;
}


/*------------------TITULARES---------------------*/
.section .titulo {
    width: 100%;
}
/*------------------FOOTER---------------*/
}

@media (min-width: 769px) {
    body {
        font-size: 16px;
    }
/*-------------------- HEADER --------------------------*/
#header {
    padding: 0 20px;
}
/*-----------------LOGO-------------------*/
/*--------------BARRA DE BUSQUEDA-------------*/
/*---------------TEXTO---------------*/
/*--------------NAVEGADOR---------------*/
/*-----------------MENU BURGER-----------------*/
/*--------------------------MAIN---------------------------*/
.section article {
        width: 25%;
    }

/*---------------------BANNER---------------------------*/
/*------------------IMAGENES----------------------*/
#main .img {
    box-shadow: none;
}
/*------------DESCRIPCION----------------*/
#main .descripcion {
    box-shadow: none;
}
.contenedor-texto h5 {
    display: none;
}
/*------------------TITULARES---------------------*/
/*------------------FOOTER---------------*/
.pie-de-pagina {
        display: flex;
        justify-content: space-between;
        
    }
.articulo-footer {
    width: 32%;
    margin: 0 15px;
}
#divFooter {
    padding: 20px 10px 5px;
}
}